<section class="sign-up-form">
  <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #f='ngForm' (ngSubmit)="onSubmit(f)">
    <mat-form-field >
      <mat-label>Email</mat-label>
      <input type="email"
             matInput
             ngModel
             name="email"
             email
             placeholder="Your email"
             #emailInput="ngModel"
             required>
      <mat-error *ngIf="emailInput.hasError('required')">
        Field must not be empty.
      </mat-error>
      <mat-error>
        Email is invalid.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput
             type="name"
             ngModel
             name="password"
             placeholder="Password"
             minlength="6"
             #pwInput="ngModel"
             required>
      <mat-hint align="end"> {{pwInput.value?.length}} / 6</mat-hint>
      <mat-hint align="start">Should be at least 6 characters long.</mat-hint>
      <mat-error *ngIf="f.invalid">
        The password is required and it should be minimum 6 symbols.
      </mat-error>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Custom calendar header</mat-label>
      <input matInput [matDatepicker]="picker" [max]="maxDate" ngModel name="birthdate" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" required>Agree to Terms and Conditions</mat-checkbox>
    <button type="submit"
            mat-raised-button
            color="primary"
            [disabled]="f.invalid">
      Signup
    </button>
  </form>
</section>

